*{
    padding: 0;
    margin: 0;
}
:root{

}

@font-face {
    font-family: "iranyekanwebmedium";
    src: url("./font/iranyekanwebmedium.woff") format("woff");
}

@font-face {
    font-family: "iranyekanwebregular";
    src: url("./font/iranyekanwebregular.woff") format("woff");
}

@font-face {
    font-family: "YekanBakhBold";
    src: url("./font/YekanBakhBold.woff") format("woff");
}

@font-face {
    font-family: "YekanBakhHeavy";
    src: url("./font/YekanBakhHeavy.woff") format("woff");
}

@font-face {
    font-family: "YekanBakhMedium";
    src: url("./font/YekanBakhMedium.woff") format("woff");
}
body{
    font-family:"iranyekanwebregular",Arial, Helvetica, sans-serif;
}