*{
    padding: 0;
    margin: 0;
}
:root{

}

@font-face {
    font-family: "iranyekanwebmedium";
    src: url("./font/iranyekanwebmedium.woff") format("woff");
}

@font-face {
    font-family: "iranyekanwebregular";
    src: url("./font/iranyekanwebregular.woff") format("woff");
}

@font-face {
    font-family: "YekanBakhBold";
    src: url("./font/YekanBakhBold.woff") format("woff");
}

@font-face {
    font-family: "YekanBakhHeavy";
    src: url("./font/YekanBakhHeavy.woff") format("woff");
}

@font-face {
    font-family: "YekanBakhMedium";
    src: url("./font/YekanBakhMedium.woff") format("woff");
}
body{
    font-family:"iranyekanwebregular",Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    margin: auto;
    padding: 21px 0 7px;
    position: sticky;
    top:0;
    background-color: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(20px);
    transition: all 0.3 ease;
    z-index: 100;
}
.logo{
    margin: 11px 28px;
}
.header-ul{
    list-style-type: none;
    display: flex;
}
.header-ul li{
    font-size: 14px;
    margin: 0 15px;
}
.header-ul a{
    text-decoration: none;
    color: #303030;
}
.header-ul > li:last-child a{
    color: #28457b;
    background-color: rgba(232, 239, 254, 0.6);
    border-radius: 20px;
    font-family: "YekanBakhBold";
    margin-right: 20px;
    padding: 10px 27px;
 }
 .header-ul > li:last-child a:hover{
     background-color: #fbf6d9;
  }
.more-menu{
    display: flex;
}
.more-menu img{
    width: 8px;
    margin-right: 8px;
}

.hamburger-icon{
    width: 27px;
    display: none;
    cursor: pointer;
}
.hamburger-menu{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    font-family: "YekanBakhMedium";
    transform: translateY(-100%);
}
.cross-icon{
    width: 100%;
    text-align: left;
    padding: 25px 0;
}
.cross-icon img{
    width: 20px;
    margin-left: 30px;
    cursor: pointer;

}
.hamburger-menu-item{
    padding: 10px 30px;
}
.hamburger-menu-item ul{
    list-style-type: none;
}
.hamburger-menu-item a{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 3px 0;
}
.hamburger-menu-item div{
    width: 90%;
    height: 1px;
    background-color: #dfe1e4;
    margin: 8px;
}
.more-item{
    display: flex;
    background-color: #eee;
    align-items: center;
    padding: 20px 50px;
}
.more-item img{
    width: 15px;
    margin-right: 5px;
}
.more-item a{
   text-decoration: none;
   color: #28457b;
   font-size: 0.85rem;
}
#show-product-menu{
    position: relative;
}
.product-menu{
    position: absolute;
    top: 0;
    left: -135px;
    width: 372px;
    padding-top: 5px;
    margin-top: 23px;
    display: none;
    justify-content: flex-start;
    background-color: #fff;
    border-top: 5px solid #f8e88b;
    border-radius: 12px;
}
.product-menu a:hover{
    background-color: rgba(232, 239, 254, 0.6);
}
.product-menu p:first-child{
    font-size: 0.95rem;
    color: #000;
}
.product-menu p:last-child{
    font-size: 0.7rem;
    color: #000;
}
.product-menu a{
    margin: 10px;
    display: block;
    padding: 10px;
    border-radius: 5px;
}
#show-more-menu{
    position: relative;
}
#show-more-menu ul{
    list-style-type: none;
    position: absolute;
    top: 0;
    left: -35px;
    background-color: #fff;
    border-top: 5px solid #f8e88b;
    border-radius: 12px;
    width: 123px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 23px;
    display: none;
}
#show-more-menu li{
    color: black;
    margin: 0;
    padding: 10px 20px;
    font-size: 0.8rem;
}
#show-more-menu li:hover{
    background-color: rgba(232, 239, 254, 0.6);
}
.show-hamburger-menu {
    animation: fadeInDown 0.25s forwards;
 }
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1050px;
    padding: 124px 60px 80px;
    margin: 20px auto;
    border-radius: 20px;
    background-image: linear-gradient(135deg,#21254e,#254a83);
    position: relative;
 }
.banner h3{
    color: #fff;
    font-size: 2rem;
    font-family: "YekanBakhHeavy";
}
.banner p{
    color: #fff;
    font-size: 1.15rem;
    line-height: 2.5rem;
    margin: 25px 0;
}
.banner-button{
    display: flex;
    margin-top: 60px;
}
.register{
    font-size: 1rem;
    font-family:"YekanBakhBold"; 
    background-color: #ffd900;
    padding: 6px 14px;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    color: #000;
}
.login{
    font-size: 1rem;
    font-family:"YekanBakhBold"; 
    background-color: #435a8a;
    padding: 6px 14px;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    color: #fff;
}
.banner-image{
    background: url(./image/wave.svg) no-repeat 50%;
}
.banner-image  img{
    width: 500px;
}

.go-down{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 58px;
}
.go-down div{
    background-image: url(./image/arrowbottom.svg);
    width: 164px;
    height: 78px;
}
.go-down img{
    width: 16px;
    position: relative;
    top: -60px;
    cursor: pointer;
}
.online-payment{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1170px;
    margin: auto;
}
.section-image img{
    width: 450px;
    height: 480px;
}
.section-text{
    margin: 30px 0;
    width: 530px;
}
.section-text h2{
    color: #747480;
    font-family: "YekanBakhMedium";
    font-weight: 500;
    font-size: 1.4rem;
    margin: 20px 0 5px;
}
.section-text h3{
    color: #303030;
    font-family: "YekanBakhHeavy";
    font-weight: 600;
    font-size: 2rem;
    margin: 5px 0 10px;
}
.section-text p{
    color: #303030;
    font-family: "YekanBakhMedium";
    padding-bottom: 20px;
    border-bottom: 1px solid #dfe1e4;
    margin-top: 16px;
    line-height: 40px;
    text-align: justify;
}
.section-link{
    margin-top: 40px;
    display: flex;
}
.section-link a:first-child{
    text-decoration: none;
    color: #000;
    background-color: #ffd900;
    padding: 6px 14px;
    border-radius: 10px;
    font-size: 0.9rem;
    font-family: "YekanBakhMedium";
    margin-left: 10px;

}
.section-link a:last-child{
    text-decoration: none;
    color: #28457b;
    background-color: rgba(232, 239, 254, 0.7);
    padding: 6px 14px;
    border-radius: 10px;
    font-size: 0.9rem;
    font-family: "YekanBakhMedium";
    margin-left: 10px;
    display: flex;
    align-items: center;

}
.section-link img{
    width: 10px;
    height: 15px;
    margin-right: 5px;
}
.attributes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 1170px;
}
.description{
    width: 35%;
    margin-top: 50px;
}
.description h3{
    font-family: "YekanBakhHeavy";
    font-size: 2rem;
} 
.description p{
    font-family: "YekanBakhMedium";
    font-size:1rem;
    width: 85%;
    margin-top: 40px;
    line-height: 40px;
    text-align: justify;
} 
.items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    padding: 30px;
}
.item{
    padding: 18px 25px 20px 0;
}
.item div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.item h4{
    font-size: 1.5rem;
    font-family:"YekanBakhHeavy"; 
    margin-right: 20px;
}
.item img{
    width: 60px;
    height: 60px;
}
.item p{
    margin: 20px 0 20px 10px;
    font-size: 1rem;
    font-family: "YekanBakhMedium";
    color: #303030;
    line-height: 26px;
    text-align: justify;
}
.items .item:nth-child(1){
    border-left:1px solid #e0e4e7 ;
}
.items .item:nth-child(2){
    border-bottom:1px solid #e0e4e7 ;
}
.items .item:nth-child(3){
    border-top:1px solid #e0e4e7 ;
}
.items .item:nth-child(4){
    border-right:1px solid #e0e4e7 ;
}
.start-box{
    width: 1170px;
    height: 220px;
    margin: auto;
    margin-bottom: 50px;
    border: 1px solid silver;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.start-box h4{
    font-family:"YekanBakhHeavy"; 
    font-size: 1.7rem;
}
.start-box p{
    font-family: "YekanBakhMedium";
    font-size: 1.4rem;
    color: #747480;
    margin-top: 10px;
}
.start-box a{
    font-family: "iranyekanwebmedium";
    font-size: 0.9rem;
    min-height: 28px;
    line-height: 28px;
    color: #000;
    background-color: #ffd900;
    text-decoration: none;
    padding: 4px 14px;
    border-radius: 10px;
    margin-top: 10px;
}
.support{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1110px;
    height: 70px;
    padding: 0 30px;
    margin: 50px auto;
    background-color: #fbf6f1;
    border-radius: 35px;
}
.support-number p{
    font-family:"YekanBakhHeavy"; 
    font-size: 1.3rem;
}
.support-request{
    display: flex 
}
.support-request p{
    font-family: "YekanBakhBold";
    font-size: 1.3rem;
    color: #21254e;
}
.support-request img{
    width: 20px;
    margin-right: 10px;
}
.line{
    margin: 0 15px;
}
.number{
    color: #21254e;
}
@keyframes show{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
} 
@keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
@media(max-width:1200px){
    header{
        width: 940px;
    }
    .banner{
        width: 900px;
        padding: 60px 40px 120px
    }
    .banner-image img{
        width:430px ;
    }
    .online-payment {
        width: 940px;
      }
    .attributes{
        width: 924px;
        padding: 0 8px;
        flex-direction: column;
    }
    .description{
        width: 100%;
        margin-top: 40px;
    }
    .description p{
        width: 100%;
        margin-top: 30px;
    }
    .items{
        width: 90%;
        padding: 30px;
    }  
    .item{
        padding: 18px 0 20px 50px;
    }
    .items .item:nth-child(1),
    .items .item:nth-child(2),
    .items .item:nth-child(3),
    .items .item:nth-child(4){
        border: none;
    }
    .start-box{
        width: 940px;
    }
    .support{
        width: calc(100% - 120px);
    }
    .support-number p{
        font-size: 14px;
    }
    .support-request p{
        font-size: 16px;
    }
    .number{
        font-size:1.3rem ;
    }
 }
@media(max-width:990px){
    header{
        width: auto;
        padding: 20px 60px;
    }
    .header-ul li:last-child{
        display: none;
    }
    .logo{
        margin: 0;
    }
    .header-ul li{
        margin: 0 10px;
    }
    .banner {
        width: auto;
        padding: 40px 40px 85px;
        margin-left: 35px;
        margin-right: 35px;
      }
      .banner-image img {
        display: none;
      }
      .banner-text {
        text-align: center;
      }
      .banner-text p {
        margin: 5px 0;
        font-size: 1rem;
      }
      .banner-button {
        margin-top: 40px;
      }
      .online-payment {
        width: auto;
        flex-direction: column;
        align-items: center;
      }
      .section-text {
        width: 95%;
      }
      .attributes{
        width: auto;
        padding: 0 25px;
      }
      .start-box{
        margin: 0 38px;
        width: calc(100% - 76px);
      }
      .support{
        flex-direction: column;
        align-items: flex-start;
        background: none;
      }
      .support-request{
        background-color: #fbf6f1;
        padding: 5px 20px ;
        border-radius: 35px;
        margin-top: 20px;

      }
      .support-request p,.support-number p{
        font-size: 1.1rem;
      }
}
@media(max-width:768px){
    header{
        width: auto;
        padding:10px 8px ;
    }
    .header-ul{
        display: none;
    }
    .hamburger-icon{
        display: block;
    }
    .banner {
        margin-left: 8px;
        margin-right: 8px;
      }
      .section-text {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .section-image img {
        width: 460px;
        height: 480px;
      }
      .description{
        text-align: center;
        margin-top: 20px;
      }
      .attributes h3{
        font-size: 1.6rem;
      }
      .items{
        width: 100%;
        padding: 50px 0;
      }
      .item{
        padding: 18px 0 20px 20px;
      }
      .start-box{
        margin: 0 8px;
        width: calc(100% - 16px);
      }
      .support{
        width: calc(100% - 60px);
        margin: 50px 30px;
      }
     .support-request p,.support-number p{
        font-size: 1.1rem;
      }
} 
@media (max-width: 575px) {
    .banner {
      padding: 80px 40px;
    }
    .banner-text h3 {
      font-size: 1.2rem;
      text-align: right;
    }
    .banner-text p {
      text-align: justify;
    }
    .section-image {
        display: none;
      }
      .section-text {
        width: 80%;
        padding: 0 10px;
      }
      .section-text h3 {
        font-size: 1.5rem;
      }
     .items{
        padding: 50px 0;
        grid-template-columns: 1fr;
     } 
     .item{
        padding: 18px 0;
     }
     .start-box{
        height: 180px;
     }
     .start-box h4{
        font-size: 1.2rem;
     }
     .start-box p{
        font-size: 1rem;
     }
     .support-number p {
        font-size: 0.9rem;
        display: flex;
        flex-direction: column;
     }
     .support-request p,.support-number span{
        font-size: 0.9rem;
      }
      .line{
        display: none;
      }
}    