*{
    padding: 0;
    margin: 0;
}
:root{

}

@font-face {
    font-family: "iranyekanwebmedium";
    src: url("./font/iranyekanwebmedium.woff") format("woff");
}

@font-face {
    font-family: "iranyekanwebregular";
    src: url("./font/iranyekanwebregular.woff") format("woff");
}

@font-face {
    font-family: "YekanBakhBold";
    src: url("./font/YekanBakhBold.woff") format("woff");
}

@font-face {
    font-family: "YekanBakhHeavy";
    src: url("./font/YekanBakhHeavy.woff") format("woff");
}

@font-face {
    font-family: "YekanBakhMedium";
    src: url("./font/YekanBakhMedium.woff") format("woff");
}
body{
    font-family:"iranyekanwebregular",Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    margin: auto;
    padding: 21px 0 7px;
    position: sticky;
    top:0;
    background-color: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(20px);
    transition: all 0.3 ease;
    z-index: 100;
}
.logo{
    margin: 11px 28px;
}
.header-ul{
    list-style-type: none;
    display: flex;
}
.header-ul li{
    font-size: 14px;
    margin: 0 15px;
}
.header-ul a{
    text-decoration: none;
    color: #303030;
}
.header-ul > li:last-child a{
    color: #28457b;
    background-color: rgba(232, 239, 254, 0.6);
    border-radius: 20px;
    font-family: "YekanBakhBold";
    margin-right: 20px;
    padding: 10px 27px;
 }
 .header-ul > li:last-child a:hover{
     background-color: #fbf6d9;
  }
.more-menu{
    display: flex;
}
.more-menu img{
    width: 8px;
    margin-right: 8px;
}

.hamburger-icon{
    width: 27px;
    display: none;
    cursor: pointer;
}
.hamburger-menu{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    font-family: "YekanBakhMedium";
    transform: translateY(-100%);
}
.cross-icon{
    width: 100%;
    text-align: left;
    padding: 25px 0;
}
.cross-icon img{
    width: 20px;
    margin-left: 30px;
    cursor: pointer;

}
.hamburger-menu-item{
    padding: 10px 30px;
}
.hamburger-menu-item ul{
    list-style-type: none;
}
.hamburger-menu-item a{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 3px 0;
}
.hamburger-menu-item div{
    width: 90%;
    height: 1px;
    background-color: #dfe1e4;
    margin: 8px;
}
.more-item{
    display: flex;
    background-color: #eee;
    align-items: center;
    padding: 20px 50px;
}
.more-item img{
    width: 15px;
    margin-right: 5px;
}
.more-item a{
   text-decoration: none;
   color: #28457b;
   font-size: 0.85rem;
}
#show-product-menu{
    position: relative;
}
.product-menu{
    position: absolute;
    top: 0;
    left: -135px;
    width: 372px;
    padding-top: 5px;
    margin-top: 23px;
    display: none;
    justify-content: flex-start;
    background-color: #fff;
    border-top: 5px solid #f8e88b;
    border-radius: 12px;
}
.product-menu a:hover{
    background-color: rgba(232, 239, 254, 0.6);
}
.product-menu p:first-child{
    font-size: 0.95rem;
    color: #000;
}
.product-menu p:last-child{
    font-size: 0.7rem;
    color: #000;
}
.product-menu a{
    margin: 10px;
    display: block;
    padding: 10px;
    border-radius: 5px;
}
#show-more-menu{
    position: relative;
}
#show-more-menu ul{
    list-style-type: none;
    position: absolute;
    top: 0;
    left: -35px;
    background-color: #fff;
    border-top: 5px solid #f8e88b;
    border-radius: 12px;
    width: 123px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 23px;
    display: none;
}
#show-more-menu li{
    color: black;
    margin: 0;
    padding: 10px 20px;
    font-size: 0.8rem;
}
#show-more-menu li:hover{
    background-color: rgba(232, 239, 254, 0.6);
}
.show-hamburger-menu {
    animation: fadeInDown 0.25s forwards;
 }
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1050px;
    padding: 124px 60px 80px;
    margin: 20px auto;
    border-radius: 20px;
    background-image: linear-gradient(135deg,#21254e,#254a83);
    position: relative;
 }
.banner h3{
    color: #fff;
    font-size: 2rem;
    font-family: "YekanBakhHeavy";
}
.banner p{
    color: #fff;
    font-size: 1.15rem;
    line-height: 2.5rem;
    margin: 25px 0;
}
.banner-button{
    display: flex;
    margin-top: 60px;
}
.register{
    font-size: 1rem;
    font-family:"YekanBakhBold"; 
    background-color: #ffd900;
    padding: 6px 14px;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    color: #000;
}
.login{
    font-size: 1rem;
    font-family:"YekanBakhBold"; 
    background-color: #435a8a;
    padding: 6px 14px;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    color: #fff;
}
.banner-image{
    background: url(./image/wave.svg) no-repeat 50%;
}
.banner-image  img{
    width: 500px;
}

.go-down{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 58px;
}
.go-down div{
    background-image: url(./image/arrowbottom.svg);
    width: 164px;
    height: 78px;
}
.go-down img{
    width: 16px;
    position: relative;
    top: -60px;
    cursor: pointer;
}
@keyframes show{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
} 
@keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
@media(max-width:1200px){
    header{
        width: 940px;
    }
    .banner{
        width: 900px;
        padding: 60px 40px 120px
    }
    .banner-image img{
        width:430px ;
    }
 
 }
@media(max-width:990px){
    header{
        width: auto;
        padding: 20px 60px;
    }
    .header-ul li:last-child{
        display: none;
    }
    .logo{
        margin: 0;
    }
    .header-ul li{
        margin: 0 10px;
    }
    .banner {
        width: auto;
        padding: 40px 40px 85px;
        margin-left: 35px;
        margin-right: 35px;
      }
      .banner-image img {
        display: none;
      }
      .banner-text {
        text-align: center;
      }
      .banner-text p {
        margin: 5px 0;
        font-size: 1rem;
      }
      .banner-button {
        margin-top: 40px;
      }
}
@media(max-width:768px){
    header{
        width: auto;
        padding:10px 8px ;
    }
    .header-ul{
        display: none;
    }
    .hamburger-icon{
        display: block;
    }
    .banner {
        margin-left: 8px;
        margin-right: 8px;
      }
} 
@media (max-width: 575px) {
    .banner {
      padding: 80px 40px;
    }
    .banner-text h3 {
      font-size: 1.2rem;
      text-align: right;
    }
    .banner-text p {
      text-align: justify;
    }
}    